<div class="register">
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="nopadding">
                <div class="posts-container">
                    <h2>Read through our popular Blogs</h2>
                    <c-accordion [alwaysOpen]="true" >
                        <c-accordion-item #item="cAccordionItem" [visible]="item.visible" *ngFor="let post of posts; let i = index">
                            <ng-template cTemplateId="accordionHeaderTemplate">
                                <button (click)="item.toggleItem()" [collapsed]="!item.visible" cAccordionButton>
                                    {{ post.title }}
                                </button>
                            </ng-template>
                            <ng-template cTemplateId="accordionBodyTemplate">
                                <div class="acc-body-container">
                                    <div
                                        style="padding:10px;background-image:url('/images/backgrounds/background1.jpg');background-blend-mode: color-dodge;">
                                        {{post.description}}
                                    </div>
                                </div>
                            </ng-template>
                        </c-accordion-item>
                    </c-accordion>
                </div>
            </div>
        </div>
    </div>
</div>