.auto-resize {
  overflow: hidden;
  resize: none;
}

.posts-container {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  padding-top: 140px;
  margin-top: 50px;
}

.acc-body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}