<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-8">
            <form cForm>
              <h2>Change Your Password</h2>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" disabled />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText style="width:190px">Current Password</span>
                <input cFormControl placeholder="Current Password" type='password' style="width: 100%;"/>
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText style="width:190px">New Password</span>
                <input cFormControl placeholder="New Password" type='password' style="width: 100%;" />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>Confirm New Password</span>
                <input cFormControl placeholder="Confirm New Password" type='password' style="width: 100%;"/>
              </c-input-group>

              <div class="d-grid">
                <button cButton color="primary">Change Password</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>