<div class="page_section">

    <div class="col">
        <div class="section_title text-center">
            <h1>Popular Services</h1>
        </div>
    </div>

    <div class="row services_row" style=" margin-top: 20px;" *ngIf="services.length > 2">

        <div class="col-lg-4 service_item text-left d-flex flex-column align-items-center justify-content-start">
            <div class="icon_container d-flex flex-row justify-content-center" style="margin-left: -10px;">
                <img src="/images/services/earth-globe.svg" alt="">
                <h3 style="text-align: center;vertical-align: middle;padding-left: 10px;margin-top: 5px;">{{services[0].title}}</h3>
            </div>
            
            <p>{{services[0].description}}</p>
        </div>

        <div class="col-lg-4 service_item text-left d-flex flex-column align-items-center justify-content-start">
            <div class="icon_container d-flex flex-row justify-content-center" style="margin-left: -10px;">
                <img src="/images/services/exam.svg" alt="">

                <h3 style="text-align: center;vertical-align: middle;padding-left: 10px;margin-top: 5px;">{{services[1].title}}</h3>
            </div>
            <p>{{services[1].description}}</p>
        </div>

        <div class="col-lg-4 service_item text-left d-flex flex-column align-items-center justify-content-start">
            <div class="icon_container d-flex flex-row justify-content-center" style="margin-left: -10px;">
                <img src="/images/services/books.svg" alt="">
                <h3 style="text-align: center;vertical-align: middle;padding-left: 10px;margin-top: 5px;">{{services[2].title}}</h3>
            </div>
            
            <p>{{services[2].description}}</p>
        </div>
    </div>
</div>