<div class="services page_section">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Popular Services</h1>
                </div>
            </div>
        </div>

        <div class="row services_row" *ngIf="services.length > 2">

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="images/earth-globe.svg" alt="">
                </div>
                <h3>{{services[0].title}}</h3>
                <p>{{services[0].description}}</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="images/exam.svg" alt="">
                </div>
                <h3>{{services[1].title}}</h3>
                <p>{{services[1].description}}</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="images/books.svg" alt="">
                </div>
                <h3>{{services[2].title}}</h3>
                <p>{{services[2].description}}</p>
            </div>
        </div>
    </div>
</div>