<div class="page_section">

	<div class="section_title text-center">
		<h1>What our drivers say</h1>
	</div>

	<c-carousel style="max-width: 800px;margin-top: 20px;">
		<c-carousel-indicators></c-carousel-indicators>
		<!-- Testimonials Item -->
		<c-carousel-inner>
			<c-carousel-item>
				<img class="d-block w-100 fixed-height" loading="lazy" src="/images/backgrounds/limo-testimonials.jpg"
					class="image-style" />
				<c-carousel-caption class="d-none d-md-block">
					<p class="bg-text">
						" In aliquam, augue a gravida rutrum, ante nisl fermentum
						nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus
						tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla,
						vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor
						fermentum. "</p>

					<div class="testimonial_image mx-auto">
						<img src="/images/drivers/driver3.jpeg" width="100" height="100">
					</div>
					<div class="testimonial_name" style="color: black;">james cooper</div>
					<div class="testimonial_title">Toronto</div>
				</c-carousel-caption>
			</c-carousel-item>


			<!-- Testimonials Item -->

			<c-carousel-item>
				<img class="d-block w-100 fixed-height" loading="lazy" src="/images/backgrounds/limo-testimonials.jpg"
					class="image-style" />

				<c-carousel-caption class="d-none d-md-block">
					<p class="bg-text">" In aliquam, augue a gravida rutrum, ante nisl fermentum
						nulla,
						vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor
						fermentum.In
						aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula
						vel
						nunc. Proin quis mi malesuada, finibus tortor fermentum. "</p>

					<div class="testimonial_user">
						<div class="testimonial_image mx-auto">
							<img src="images/drivers/driver1.jpg" alt="">
						</div>
						<div class="testimonial_name" style="color: black;">charlie madison</div>
						<div class="testimonial_title">Vancover</div>
					</div>
				</c-carousel-caption>
			</c-carousel-item>


			<!-- Testimonials Item -->

			<c-carousel-item>
				<img class="d-block w-100 fixed-height" loading="lazy" src="/images/backgrounds/limo-testimonials.jpg"
					class="image-style" />

				<c-carousel-caption class="d-none d-md-block">

					<p class="bg-text">" In aliquam, augue a gravida rutrum, ante nisl fermentum
						nulla,
						vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor
						fermentum.In
						aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula
						vel
						nunc. Proin quis mi malesuada, finibus tortor fermentum. "</p>


					<div class="testimonial_user">
						<div class="testimonial_image mx-auto">
							<img src="images/drivers/driver2.jpg" alt="">
						</div>
						<div class="testimonial_name" style="color: black;">sallie reyes</div>
						<div class="testimonial_title">Montreal</div>
					</div>
				</c-carousel-caption>
			</c-carousel-item>
		</c-carousel-inner>
		<c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
		<c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
	</c-carousel>
</div>