/* styles.css */
.container {
    max-width: 800px;
  }
  
  .form-check span[contenteditable="true"] {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 3px;
    cursor: text;
  }
  
  .title_header {
    display: flex;
    flex-direction: row;
    background-color: rgba(208, 208, 49, .3);
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.scrollable-container {
  width: 100%; /* Adjust as needed */
  max-height: 500px; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
}

.scrollable-list {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.edit-text {
  display: flex;
  flex-direction: row;
  justify-content: right;
  vertical-align: middle;
  width: 320px;
  height:24px;
  padding:2px;
  padding-right: 8px;
  margin-top: 12px;
  margin-left: 22px;
  border-radius: 6px;
  border-color: black;
  background-color: transparent;
  font-size: 12px;
}