.courses-container {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    padding-top: 140px;
    margin-top:50px;
}

.main-container {
    display: grid;
    flex-direction: column;
    margin-top: -15px;
}

.card-body-container {
    height: 80px;
    overflow-y: auto;
    background-color: rgb(195 225 209 / 70%);
}

/* The overlay text */
.overlay-text-title {
    position: relative;
    padding: 6px;
    color: black;
    text-align: left;
    text-wrap: wrap;
    height: 100px;
    max-height: 100px;
    margin-top: -3px;
    background-color: rgb(195 225 209 / 70%);
    overflow: hidden;
    font-size: 15px;
}

.overlay-text-title em {
    font-size: 15px;
    font-weight: bold;
    overflow: scroll;
}

.overlay-text {
    position: relative;
    background-color: rgba(255, 255, 0, 1);
    padding: 6px;
    color: blue;
    border-radius: 6px;
    width: fit-content;
    align-self: end;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(+30%);
    box-shadow: inset 1px 1px 8px 4px rgb(255, 155, 120, .4);
}

.overlay-file-image {
    position: relative;
    background-color: transparent;
    width: 48px;
    height: 48px;
    transform: translate(-225%, +175%);
    z-index: 99;
}