<div class="register">
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="nopadding">
                <div class="courses-container">
                    <h2>View some of our Sample Courses</h2>
                    <div class="main-container">
                        <h1 style="text-align: start;margin-top: 20px;">Files</h1>
                        <div class="row" style="margin-top:-50px;row-gap: 20px;justify-content: center;">

                            <div class="col-md-4" *ngFor="let file of files" style="width: 300px;">
                                <img [src]="fileTypeIcon(file.file_name)" alt="File Type Icon" width="48" height="48"
                                    class="mr-2" class="overlay-file-image">
                                <div
                                    style="display: flex;flex-direction: row;justify-content: flex-end;  align-self: end;width:100%;z-index: 101;padding-right:10px;">
                                    <h6 cCardSubtitle class="mb-2" class="overlay-text"
                                        style="background-color: lightcyan;border-bottom-right-radius: 0px;border-top-right-radius: 0px;">
                                        Category&nbsp;
                                    </h6>
                                    <h6 cCardSubtitle class="mb-2" class="overlay-text"
                                        style="border-bottom-left-radius: 0px;border-top-left-radius: 0px;">
                                        {{ file.category_name }}
                                    </h6>
                                </div>
                                <c-card class="mb-3"
                                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);background-color:rgb(195 225 209 / 70%);">

                                    <img [cCardImg] src="./images/backgrounds/courses.jpg"
                                        style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">

                                    <span cCardTitle class="overlay-text-title">{{file.title}}</span>

                                    <c-card-body class="card-body-container"
                                        style="background-color: white; overflow: scroll;">
                                        <p class="card-text" style="text-align:left">{{ file.description }}</p>
                                    </c-card-body>

                                    <c-card-footer style="background-color: rgba(236, 246, 67, 0.7);">

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <a [href]="file.file_name" target="_blank" class="btn btn-light">View
                                                    File</a>
                                            </div>
                                        </div>

                                    </c-card-footer>
                                </c-card>
                            </div>
                        </div>
                        <div class="main-container">
                            <h1 style="text-align: start;margin-top: 40px;">Videos</h1>
                            <div class="row" style="row-gap: 20px; justify-content: center;">
                                <div class="col-md-4" *ngFor="let video of videos" style="width: 330px;height: fit-content;">
                                    <div
                                        style="display: flex;flex-direction: row;justify-content: flex-end;  align-self: end;width:100%;z-index: 101;padding-right:10px;">
                                        <h6 cCardSubtitle class="mb-2" class="overlay-text"
                                            style="background-color: lightcyan;border-bottom-right-radius: 0px;border-top-right-radius: 0px;">
                                            Category&nbsp;
                                        </h6>
                                        <h6 cCardSubtitle class="mb-2" class="overlay-text"
                                            style="border-bottom-left-radius: 0px;border-top-left-radius: 0px;">
                                            {{ video.category_name }}
                                        </h6>
                                    </div>
                                    <c-card class="mb-3"
                                        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);background-color: rgb(195 225 209 / 70%);">
                                        <img [cCardImg] src="./images/backgrounds/courses.jpg"
                                            style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">

                                        <span cCardTitle class="overlay-text-title">{{video.title}}</span>



                                        <c-card-body class="card-body-container"
                                            style="height: 180px;padding:0px;margin-bottom: 0px;">
                                            <video width="100%" controls>
                                                <source [src]="video.url" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                        </c-card-body>
                                    </c-card>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="main-container">
                        <h1 style="text-align: start;margin-top: 40px;">MCQs</h1>
                        <div class="row" style="row-gap: 20px">
                            <c-accordion [alwaysOpen]="true">
                                <c-accordion-item #item="cAccordionItem" [visible]="item.visible"
                                    *ngFor="let mcq of mcqs; let i = index">
                                    <ng-template cTemplateId="accordionHeaderTemplate">
                                        <button (click)="item.toggleItem()" [collapsed]="!item.visible"
                                            cAccordionButton>
                                            {{ mcq.title }}
                                        </button>
                                    </ng-template>
                                    <ng-template cTemplateId="accordionBodyTemplate">
                                        <c-card style="border: 2px solid blue; text-align: start;">
                                            <c-card-body
                                                style="background-color: rgba(200, 168, 243,.3);padding: 6px;padding-top: 16px;align-items: start;">
                                                <div class="form-check">
                                                    <c-form-check [switch]="true">
                                                        <input cFormCheckInput id="answer_1" type="checkbox"
                                                            [checked]="mcq.correct_1" disabled>
                                                        <label cFormCheckLabel for="answer_1">{{ mcq.answer_1 }}</label>
                                                    </c-form-check>
                                                    <c-form-check [switch]="true">
                                                        <input cFormCheckInput id="answer_2" type="checkbox"
                                                            [checked]="mcq.correct_2" disabled>
                                                        <label cFormCheckLabel for="answer_2">{{ mcq.answer_2 }}</label>
                                                    </c-form-check>
                                                    <c-form-check [switch]="true">
                                                        <input cFormCheckInput id="answer_3" type="checkbox"
                                                            [checked]="mcq.correct_3" disabled>
                                                        <label cFormCheckLabel for="answer_3">{{ mcq.answer_3 }}</label>
                                                    </c-form-check>
                                                    <c-form-check [switch]="true">
                                                        <input cFormCheckInput id="answer_4" type="checkbox"
                                                            [checked]="mcq.correct_4" disabled>
                                                        <label cFormCheckLabel for="answer_4">{{ mcq.answer_4 }}</label>
                                                    </c-form-check>
                                                </div>
                                            </c-card-body>
                                        </c-card>
                                    </ng-template>
                                </c-accordion-item>
                            </c-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>