<div class="grid-container">
    <div class="grid-header-title-row">
        <div class="grid-title">View the Exams you have Taken</div>
        <div class="edit-text">
            <strong>* Click on View Column to Load Your Exam's Questions & Answers</strong>
        </div>
    </div>

    <div>
        <div id="tableContainer" style="margin-top:20px;height: 500px;min-width:800px"></div>
    </div>
    <div style="width: 100%;margin-top:10px" *ngIf="examAnswers.length>0">
        <hr>
        <div class="grid-title-new-exam">Your Exam Results!</div>
        <app-user-exam-answers [exam]="currentExam" [userAnswers]="examAnswers" [mcqs]="mcqs" [categories]="categories"
            ></app-user-exam-answers>
    </div>
</div>